---
import { TagHrefMap } from '@/constants'
import { BaseLayout } from '@/layouts'
import { getObjectKeys } from '@/utils'
import { getTags } from '@/utils/server'
import TagIcon from '~icons/fluent/tag-16-regular'

const TITLE_TEXT = 'Tags'
const tags = await getTags()
---

<BaseLayout
  title={TITLE_TEXT}
  contentTitle={TITLE_TEXT}
>
  <div class="mt-8 flex flex-wrap items-center space-y-1">
    {
      getObjectKeys(tags).map((t) => (
        <div class="me-4 flex items-center justify-start space-x-1">
          <TagIcon />
          <div>
            <a
              href={`/posts?tag=${TagHrefMap.get(t)}`}
              class="inline-block underline-offset-4  hover:underline"
            >
              {t}
            </a>
            <sup>{tags[t]}</sup>
          </div>
        </div>
      ))
    }
  </div>
</BaseLayout>
