---
import { ContentTitle, PostToggleLang } from '@/components'
import { BaseLayout } from '@/layouts'
import type { Lang } from '@/types'
import { formatDate, getDateByPostId } from '@/utils'
import { getPosts, withGroupedByYear } from '@/utils/server'

export interface Props {
  title: string
  lang: Lang
}

const { title, lang } = Astro.props

const sortedPostByYear = withGroupedByYear(await getPosts(lang))

const getPostDate = (id: string) => formatDate(getDateByPostId(id), 'MMM D')
---

<BaseLayout title={title}>
  <ContentTitle>
    <span>{title}</span>
    <PostToggleLang lang={lang} />
  </ContentTitle>

  <div class="mt-8 space-y-8">
    {
      Object.keys(sortedPostByYear)
        .sort((a, b) => b.localeCompare(a))
        .map((year) => (
          <div class="space-y-2">
            <div class="text-2xl font-semibold">{year}</div>
            <ul class="space-y-2">
              {sortedPostByYear[year].map((item) => (
                <li class="flex items-center space-x-2">
                  <span class="w-16 text-base text-muted">
                    {getPostDate(item.id)}
                  </span>
                  <a
                    href={`/posts/${item.slug}`}
                    class="underline-offset-4 hover:underline"
                    rel="prefetch"
                  >
                    {item.data.title}
                  </a>
                  {item.data.draft && (
                    <span class="text-sm font-semibold text-primary">
                      {lang === 'en' ? '[Draft]' : '【草稿】'}
                    </span>
                  )}
                </li>
              ))}
            </ul>
          </div>
        ))
    }
  </div>
</BaseLayout>
