---
import type { CollectionEntry } from 'astro:content'

import { THEME_META } from '@/configs'
import { BaseLayout } from '@/layouts'
import { getDateByPostId, getLastUpdatedTime } from '@/utils'
import HistoryIcon from '~icons/fluent/history-16-filled'
import EditIcon from '~icons/fluent/notepad-edit-16-filled'

export interface Props {
  post: CollectionEntry<'post'>
}

const { post } = Astro.props

const { Content } = await post.render()

const editURL = THEME_META.editLink.pattern.replace(/:path/g, `/${post.id}`)
const editLink = THEME_META.editLink.text
const lastUpdatedTime = getLastUpdatedTime(post.id)
---

<BaseLayout
  title={post.data.title}
  contentTitle={post.data.title}
>
  <div class="font-default text-muted mb-8 text-lg font-medium tracking-wider dark:text-white">
    {getDateByPostId(post.id)}
  </div>

  <Content />

  <div class="mt-8 flex flex-wrap items-center space-y-1 text-base sm:space-y-0">
    <div class="w-full sm:w-1/2">
      <a
        href={editURL}
        target="_blank"
        rel="noopener noreferrer"
        class="text-primary flex w-fit space-x-1 hover:underline"
      >
        <EditIcon class="mt-[1px]" />
        <span>{editLink}</span>
      </a>
    </div>
    <div class="flex w-full items-center justify-start space-x-1 sm:w-1/2 sm:justify-end">
      {
        lastUpdatedTime !== 'Invalid Date' && (
          <>
            <HistoryIcon />
            <span>
              {THEME_META.lastUpdatedText}
              {lastUpdatedTime}
            </span>
          </>
        )
      }
    </div>
  </div>
</BaseLayout>
