---
import { PostToggleLang } from '@/components'
import { BaseLayout } from '@/layouts'
import type { Lang } from '@/types'
import { formatDate, getDateByPostId, getPosts } from '@/utils'

export interface Props {
  title: string
  lang: Lang
}

const { title, lang } = Astro.props

const posts = await getPosts(lang)

const getPostDate = (id: string) => formatDate(getDateByPostId(id), 'MMM D')
---

<BaseLayout title={title}>
  <div class="mb-4 text-4xl/tight font-bold">
    {title}
    <PostToggleLang lang={lang} />
  </div>

  <ul class="space-y-2">
    {
      posts.map((item) => (
        <li class="flex items-center space-x-4">
          <span class="text-muted">{getPostDate(item.id)}</span>
          <a
            href={`/posts/${item.slug}`}
            class="underline-offset-4 hover:underline"
          >
            {item.data.title}
          </a>
        </li>
      ))
    }
  </ul>
</BaseLayout>
